.chat-container{
    overflow: auto;
    margin-top:40px;
    max-height: 100%;
}

.message-send{
    align: right;
    margin-top: 0px !important;
    text-transform: none !important;
    padding-right: 30px;    
}
.message-receive{
    align: left;
    margin-top: 0px !important;
    text-transform: none !important;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(3, 169, 244);
    display:inline-block;
    margin: -10px -5px 0px;
}

.info-msg{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 0.75em;
    font-style: italic;
}

.chat{
    max-width: 100%;
    position:absolute;
    bottom: 0px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid rgb(3, 169, 244);
    display:inline-block;
    margin: -10px -5px 0px 0px ;
}

.message-content{

}